{% extends 'Chat/main.html'%}
{% load crispy_forms_tags%}
{% block content%}

<style>
    .content{
        display: flex;
    }

    .sidebar{
        flex-basis: 30%;
        margin: 30px;
        color: white;
        padding: 50px;
        border-radius: 5px;
    }
    .sidebar li a{
        color: wheat;
    }

 
</style>

<div class="content">

    <div class="sidebar bg-dark">
    <hr>  <h3>Find Topics</h3> <hr>
       <li > <a style="color: black;" href="{% url 'home-page'%}">All Topics</a></li>

        {% for topic in topics %}
           <ul>
               <li> <a style="color: black;" href="{% url 'home-page' %}?q={{topic.name}}">{{topic.name}}</a></li>
           </ul>
  
        {% endfor %}
    </div>

   
     <div style="padding: 30px; width: 60%; background-color: rgba(245, 222, 179, 0.59);" class="container mt-2 ">
        <div class="media">
           
                <div class="media-body">
                    <img  style="object-fit: cover;" class="rounded-circle account-img" src="{{ user.profile.profile_pic.url }}" width="100px" height="100px">
                    <h4 style="margin-left: 5px;" class="account-heading ">{{user.username}}</h4>
                     <p style="margin-left: 5px;" class="text-secondary ">{{user.email}}</p>

                     <h5>Update Profile Infomation</h5>
                    <form method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                         {{ d_form|crispy }}
                         {{ p_form|crispy }}  
                    
                        <button style="margin: 30px 30px 0px 30px;" class="btn btn-outline-dark mt-5" type="submit" name="update" >Update</button>
                    </form>
                     
                </div>
   
   

    
{% endblock %}